body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: url('Assets/BG.jpeg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

footer {
    background: #222;
    color: #bbb;
}

.animated-text {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    animation: typing 3s steps(40, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: white;
    }
}
