body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: url('Assets/BG.jpeg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

footer {
    background: #222;
    color: #bbb;
}
